body, html
    line-height: 1.5
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
    background: url('~@/common/images/bg.jpg') no-repeat center top
    background-size: 100% 100%
    background-attachment: fixed
    color: #fff

.clearfix:after
    content:""; 
    display: block; 
    clear:both; 